{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="col-sm-12 center">
        <iframe class=" w-100 h-450 grayscale mt-5 my-5 "src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3808.542014441277!2d78.53144042195449!3d17.33763277133305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcba2780a788dfb%3A0xcdd8b3c9b29da851!2sUnion%20Bank%20Of%20India!5e0!3m2!1sen!2sin!4v1670583731645!5m2!1sen!2sin" width="" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <h2>Contact Information</h2>
        <p>Contact us directly to see how we can help you with your query<br><br>15-5/P60, Karmanghat,<br>Saroornagar,<br>Hyderabad - 500079<br>Call: 90000 00000<br>Email: contact@miniblog.com<br>Support time: Monday to Saturday
            9:00 am to 5:30 pm</p>
        <h2 class="text mt-5">Contact Us</h2>
        <p>Please fill in the form below and we will contact you very soon. Your email address will not be published.</p>
        <form class="my-5">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail">
                </div>
                <div class="form-group col-md-12">
                    <label for="inputName">Address</label>
                    <input type="text" class="form-control" id="inputAddress">
                </div>
                <div class="form-group col-md-12">
                    <label for="message">Message</label>
                    <textarea type="text" class="form-control" id="message" rows="3"></textarea>
                </div>
                    <button type="submit" class="btn btn-primary" style="width:100%;">Send</button>
            </div>
        </form>
    </div>
{% endblock content %}