<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Miniblog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "about" %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "contact" %}">Contact</a>
            </li>

            {% if request.user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link" href="{% url "dashboard" %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "logout" %}">Logout</a>
            </li>

            {% else %}

            <li class="nav-item">
              <a class="nav-link" href="{% url "signup" %}">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "login" %}">Login</a>
            </li>

            {% endif %}
              
          </ul>
        </div>
      </div>
    </nav>
    <script src="" async defer></script>
  </body>
</html>